body{
    /* font-family: 'Roobert', sans-serif; */
   background-color: #fff;
   font-family: "Open Sans", sans-serif;
}
/* header */
nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{ 
    display: inline-block; 
    margin-left: 30px;
}
nav a{
    text-decoration: none;
}
.firstpart_of_nav{
    display: flex;
    justify-content: left;

}
.secondpart_of_nav{
    display: flex;
    justify-content: right;
    margin-left:500px ;
}
/* main */
.gallery{
    margin: 70px;
    display: flex;
    flex-direction: column;
}
.gallery ul{
    list-style-type: none;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    gap: 20px;
    background-color: rgb(236, 243, 254, 255);
}
footer h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.4;
    width: 600px;
}
footer div{
    width: 600px;
}
footer a{
    margin-left: 30px;
}
footer svg{
    fill: black;
}