@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #141414;
    color: white;
}

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.8s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom scrollbar to look like Netflix */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}